@use "./base.scss";

// put your custom CSS here!

ul.overflow:after, ol.overflow:after {
  background: unset;
}

:root[saved-theme=light] body {
  // 网格背景
  background: -webkit-linear-gradient(top, transparent 23px, #e5e5e5 0), -webkit-linear-gradient(left, var(--light) 23px, #e5e5e5 0);
  background-size: 24px 24px;
}